

.summary-stat
{
    display:inline-block;
    margin-left: 10px;
    font-weight: bold;
    background-image: linear-gradient(to bottom right, #B537F2, #3CB9FC);
    width: 400px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #FFFFFF
}

.secondary-statistic
{
    font-size: 25px;
    text-align: center
}

.primary-statistics, .label
{
    text-align: center
}

.primary-statistics
{
    font-size: 30px
}

.stats-info
{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    grid-gap: 5px;
    grid-auto-rows: minmax(125px, auto);
}

#page-title, #title
{
    text-align:center
}

#title
{
    font-size: 30px
}